$theme: (
    // (light, dark)
    primary-bg: (#ffffff, #a80df6),
    secondary-bg: (#4e4cd0, pink),
    // bg: linear-gradient(180deg, #246eb9 0%, #0acaec 100%),
    text: (#1d1d1d, #ffffff),
    text-secondary: (#ffffff, #ffffff),
    // text-active:rgb(151, 79, 219),
    // text-live: #e73838,
    // text-channel: rgb(214, 28, 106),
    // text-channel-light: rgb(255, 0, 98),
    // text-passed: #9c999e,
    // default: #2bff00,
    // c1: #ffffff,
);